[submodule "jdb"]
	path = jdb
	url = git@github.com:tmathmeyer/scrapers.jdb.git
[submodule "cs"]
	path = cs
	url = git@github.com:tmathmeyer/scrapers.cs.git
[submodule "msdocs"]
	path = msdocs
	url = git@github.com:tmathmeyer/scrapers.msdocs.git
